.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container h1 {
    margin: 84px 0 24px;
}

.container input {
    width: 50%;
    padding: 10px;
    background-color: lightgray;
    border: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #ea4c89;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
}

.container button:hover {
    cursor: pointer;
    transition: filter 0.2s;
    filter: brightness(0.9);
}

