.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container header {
    width: 50%;
    margin: 84px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
}

.container header div {
    display: flex;
    align-items: center;
}

.container input {
    width: 50%;
    padding: 10px;
    background-color: lightgray;
    border: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #ea4c89;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
}

.container button:hover {
    cursor: pointer;
    transition: filter 0.2s;
    filter: brightness(0.9);
}

