.card {
    width: 50%;

    background-color: #735bf7;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 15px;
}